<div class='container'>
    <h1>Nuevo Tweet</h1>
    <%= form_with model: @tweet do |f|%>
        <%= f.text_field :body, placeholder: 'Comparte tu estado', class: 'form-control' %>
        <%= f.submit 'guardar', class: 'btn btn-primary' %>
    <% end %>
</div>